################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Emailer/obj
/Emailer/bin/Debug/netstandard2.0
/PaperWorks/bin/Debug/netcoreapp3.1/cs
/PaperWorks/bin/Debug/netcoreapp3.1/de
/PaperWorks/bin/Debug/netcoreapp3.1/es
/PaperWorks/bin/Debug/netcoreapp3.1/fr
/PaperWorks/bin/Debug/netcoreapp3.1/it
/PaperWorks/bin/Debug/netcoreapp3.1/ja
/PaperWorks/bin/Debug/netcoreapp3.1/ko
/PaperWorks/bin/Debug/netcoreapp3.1/pl
/SMSer/bin/Debug/netstandard2.0
/SMSer/obj
/PaperWorks/obj/Debug/netcoreapp3.1/PaperWorks.AssemblyInfo.cs
/PaperWorks/obj/Debug/netcoreapp3.1/PaperWorks.AssemblyInfoInputs.cache
/PaperWorks/obj/Debug/netcoreapp3.1/PaperWorks.assets.cache
/PaperWorks/obj/Debug/netcoreapp3.1/PaperWorks.csproj.FileListAbsolute.txt
/PaperWorks/obj/Debug/netcoreapp3.1/PaperWorks.csprojAssemblyReference.cache
/PaperWorks/obj/Debug/netcoreapp3.1/PaperWorks.dll
/PaperWorks/obj/Debug/netcoreapp3.1/PaperWorks.MvcApplicationPartsAssemblyInfo.cs
/PaperWorks/obj/Debug/netcoreapp3.1/PaperWorks.pdb
/PaperWorks/obj/Debug/netcoreapp3.1/PaperWorks.RazorAssemblyInfo.cache
/PaperWorks/obj/Debug/netcoreapp3.1/PaperWorks.RazorAssemblyInfo.cs
/PaperWorks/obj/Debug/netcoreapp3.1/PaperWorks.RazorCoreGenerate.cache
/PaperWorks/obj/Debug/netcoreapp3.1/PaperWorks.RazorTargetAssemblyInfo.cache
/PaperWorks/obj/Debug/netcoreapp3.1/PaperWorks.RazorTargetAssemblyInfo.cs
/PaperWorks/obj/Debug/netcoreapp3.1/PaperWorks.Views.dll
/PaperWorks/obj/Debug/netcoreapp3.1/PaperWorks.Views.pdb
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ValidationScriptsPartial.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ViewImports.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ViewStart.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/_StatusMessage.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/_ViewImports.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/AccessDenied.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/ConfirmEmail.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/ConfirmEmailChange.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/ExternalLogin.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/ForgotPassword.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/ForgotPasswordConfirmation.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Lockout.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Login.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/LoginWith2fa.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/LoginWithRecoveryCode.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Logout.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_Layout.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_StatusMessage.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_ViewImports.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/ChangePassword.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/ConfirmPhone.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/DeletePersonalData.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/Disable2fa.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/DownloadPersonalData.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/Email.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/EnableAuthenticator.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/ExternalLogins.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/GenerateRecoveryCodes.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/Index.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/PersonalData.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/ResetAuthenticator.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/SetPassword.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/ShowRecoveryCodes.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/TwoFactorAuthentication.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/VerifyPhone.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Register.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/RegisterConfirmation.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/ResetPassword.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/ResetPasswordConfirmation.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Error.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewImports.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewStart.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Pages/customerservice/Detail.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Pages/Error.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Pages/Index.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Pages/Privacy.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_LoginPartial.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
/PaperWorks/obj/Debug/netcoreapp3.1/staticwebassets/PaperWorks.StaticWebAssets.Manifest.cache
/PaperWorks/obj/Debug/netcoreapp3.1/staticwebassets/PaperWorks.StaticWebAssets.xml
/PaperWorks/obj/PaperWorks.csproj.nuget.cache
/PaperWorks/obj/PaperWorks.csproj.nuget.dgspec.json
/PaperWorks/obj/PaperWorks.csproj.nuget.g.props
/PaperWorks/obj/PaperWorks.csproj.nuget.g.targets
/PaperWorks/obj/project.assets.json
/PaperWorks/.vs/PaperWorks/config/applicationhost.config
/PaperWorks/.vs/PaperWorks/v16/Server/sqlite3/db.lock
/PaperWorks/.vs/PaperWorks/v16/Server/sqlite3/storage.ide
/PaperWorks/.vs/PaperWorks/v16/Server/sqlite3/storage.ide-shm
/PaperWorks/.vs/PaperWorks/v16/Server/sqlite3/storage.ide-wal
/PaperWorks/bin/Debug/netcoreapp3.1/appsettings.Development.json
/PaperWorks/bin/Debug/netcoreapp3.1/appsettings.json
/PaperWorks/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Emailer.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Emailer.pdb
/PaperWorks/bin/Debug/netcoreapp3.1/libman.json
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.Facebook.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.Google.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.MicrosoftAccount.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.Internal.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.Views.V3.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.Views.V4.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Embedded.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Core.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Stores.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
/PaperWorks/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
/PaperWorks/bin/Debug/netcoreapp3.1/PaperWorks.deps.json
/PaperWorks/bin/Debug/netcoreapp3.1/PaperWorks.dll
/PaperWorks/bin/Debug/netcoreapp3.1/PaperWorks.pdb
/PaperWorks/bin/Debug/netcoreapp3.1/PaperWorks.runtimeconfig.dev.json
/PaperWorks/bin/Debug/netcoreapp3.1/PaperWorks.runtimeconfig.json
/PaperWorks/bin/Debug/netcoreapp3.1/PaperWorks.StaticWebAssets.xml
/PaperWorks/bin/Debug/netcoreapp3.1/PaperWorks.Views.dll
/PaperWorks/bin/Debug/netcoreapp3.1/PaperWorks.Views.pdb
/PaperWorks/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/PaperWorks/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/PaperWorks/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PaperWorks/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
/PaperWorks/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PaperWorks/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/PaperWorks/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PaperWorks/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
/PaperWorks/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PaperWorks/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Security.Cryptography.Pkcs.dll
/PaperWorks/bin/Debug/netcoreapp3.1/SendGrid.dll
/PaperWorks/bin/Debug/netcoreapp3.1/SMSer.dll
/PaperWorks/bin/Debug/netcoreapp3.1/SMSer.pdb
/PaperWorks/bin/Debug/netcoreapp3.1/StarkbankEcdsa.dll
/PaperWorks/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
/PaperWorks/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
/PaperWorks/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
/PaperWorks/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
/PaperWorks/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
/PaperWorks/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
/PaperWorks/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
/PaperWorks/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
/PaperWorks/bin/Debug/netcoreapp3.1/System.Security.Cryptography.Pkcs.dll
/PaperWorks/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/PaperWorks/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PaperWorks/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
/PaperWorks/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Twilio.dll
/PaperWorks/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/PaperWorks/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PaperWorks/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/PaperWorks/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PaperWorks/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/PaperWorks/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/PaperWorks/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/PaperWorks/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/PaperWorks/bin/Debug/netcoreapp3.1/appsettings.Development.json
/PaperWorks/bin/Debug/netcoreapp3.1/appsettings.json
/PaperWorks/bin/Debug/netcoreapp3.1/libman.json
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.Views.V3.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.Views.V4.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
/PaperWorks/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
/PaperWorks/bin/Debug/netcoreapp3.1/PaperWorks.deps.json
/PaperWorks/bin/Debug/netcoreapp3.1/PaperWorks.dll
/PaperWorks/bin/Debug/netcoreapp3.1/PaperWorks.pdb
/PaperWorks/bin/Debug/netcoreapp3.1/PaperWorks.runtimeconfig.dev.json
/PaperWorks/bin/Debug/netcoreapp3.1/PaperWorks.runtimeconfig.json
/PaperWorks/bin/Debug/netcoreapp3.1/PaperWorks.StaticWebAssets.xml
/PaperWorks/bin/Debug/netcoreapp3.1/PaperWorks.Views.dll
/PaperWorks/bin/Debug/netcoreapp3.1/PaperWorks.Views.pdb
/PaperWorks/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/User/obj
/User/bin/Debug/netcoreapp3.1
