@page
@model PaperWorks.AboutUsModel
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section id="caseDetailSection">
    <h4 class="display-4 m-3 text-muted text-center" data-aos="fade-left" data-aos-delay="800"> Who we Are</h4>
</section>
<div class="container">
    <!--#####################START HERE######################-->
    <!-- JUMBOTRON -->
    <div class="jumbotron text-center">
        <h2 class="display-4">Welcome To unPaperWorkz !</h2>
        <p class="lead">Please read through to get to know us, what we do and believe in.</p>
        <hr>
        <p>In case you want to reach us,write to us click below</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Read More</a>
    </div>

    <br>


</div>
<!-- ./container -->
<!-- FLUID JUMBOTRON -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-4">Our Team</h2>
        <p class="lead">
            <strong>WE</strong>  have a highly qualified team of dedicated employees and also advisors from top most institutions of the world including IITians.<br /><br /> We work towards the shared goal and vision to make the documentation work less opaque and challenging for the citizens of this country. We take pride in excellence of our employees who have excelled in various domains. Our employees and advisors have a working experience of legal field, technical field and financial sector to top the list.
            <br /><br />However, what we take absolute pride in is that we work with the only motive to make the documentation work as easy as possible by linking various experts in the field of documentation to the task at hand.
        </p>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-4">Our Values</h2>
        @*<div class="row">
                <div class="col-md-5">

                </div>
                <div class="col-md-5">

                </div>
                <div class="col-md-5">

                </div>
            </div>*@
        <div class="card-columns">
            <div class="card">
                <div class="row-cols-1 mb-4 text-center">
                    <i class="fas fa-handshake fa-5x my-2"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">Honesty</h4>
                    <p class="card-text mt-2 text-center lead ">
                        It may be the simplest of values but we practice it in our DNA.
                        All our employees are trained and instructed to be truthful and honest.
                        We expect and demand the same from our experts.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="row-cols-1 mb-4 text-center">
                    <i class="fas fa-balance-scale fa-5x my-2"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">Integrity</h4>
                    <p class="card-text mt-2 text-center lead ">
                        It may be the simplest of values but we practice it in our DNA.
                        All our employees are trained and instructed to be truthful and honest.
                        We expect and demand the same from our experts.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="row-cols-1 mb-4 text-center">
                    <i class="fas fa-calendar-check fa-5x my-2"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">Proactive</h4>
                    <p class="card-text mt-2 text-center lead ">
                        We dont want our customers to follow up with us.
                        We want to be proactive in our services, communication, relationship with our customer
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-4">Our Mission</h2>
        <p class="lead">
            With the complete <strong>hand holding </strong> of the clients and thorough monitoring of the work done by the experts by our dedicated case managers, we make the documentation work a joyful experience for the end user.
        </p>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-4">Our Vision</h2>
        <p class="lead">
            Our vision is to contribute to the various missions and schemes of the Government of India and other state governments like Make in India and Atma Nirbhara bharat.<br /><br /> We wish to accelarate the growth of the nation by helping the companies find right experts in the domain for their documentation and get all the necessary paperwork done in a super efficient and hassle free way.
        </p>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-4">Our Success Goal</h2>
        <p class="lead">
            We also work with the goal to make the domain experts reach to the end customers in a efficient, transparent and scientific manner and thereby contributing to their economic wellbeing and economic wellbeing of the country. We are extremely cautious of the challenges posed by the Covid and the challenges of the economic recovery in post-covid era. Our services are completely safe and we wish to make sure that the covid era should not derail the growth story of India.
        </p>
    </div>
</div>


