@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<section id="PasswordConfirmation">
    <h3 class="display-4 m-3 text-muted text-center" data-aos="fade-left" data-aos-delay="800">Forgot password confirmation</h3>
</section>


<h4 class="text-success ml-4">
    Please check your email to reset your password.
</h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#PasswordConfirmation").css("margin-top", $("#topnavbarbutnobeer").height() * 1.3);
        });
    </script>
}

