@page
@model PaperWorks.CustomOrderModel
@{
    ViewData["Title"] = "CustomOrder";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section id="customOrdersection">
    <h4 class="display-4 m-3 text-muted text-center" data-aos="fade-left" data-aos-delay="800">Create Custom Order</h4>
</section>

<form method="POST" data-ajax="true" data-ajax-method="post" id="checkoutForm">
    <div class="row ">
        <div class="col-md-6">
            <div class="card bg-light border-0 p-3 m-5">
                <div class="card-body mt-3">
                    <h4 class="card-title">Customer Details</h4>
                    <h6 class="card-subtitle text-muted">Login will be created for customer if does not exists</h6>
                    <div class="form-group">
                        <label asp-for="Input.Name"></label>

                        <input asp-for="Input.Name" class="form-control" />


                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>

                        <input asp-for="Input.Email" class="form-control" />


                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Input.PhoneNumberCountryCode"></label>
                        <select asp-for="Input.PhoneNumberCountryCode" asp-items="Model.AvailableCountries" class="form-control" value="India"></select>
                        <span asp-validation-for="Input.PhoneNumberCountryCode" class="text-danger"></span>


                        <label asp-for="Input.PhoneNumber"></label>

                        <input asp-for="Input.PhoneNumber" class="form-control" />


                        <span asp-validation-for="Input.PhoneNumber" class="text-danger" disabled></span>

                    </div>
                    <div class="form-group">

                        @if (ModelState.Root.ValidationState != Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Unvalidated && ModelState.ErrorCount > 0)
                        {<div class="alert alert-danger" role="alert">
                                @Html.ValidationSummary(true)
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-light border-0 p-3 m-5 disabled">
                <div class="card-header">
                    <h4 class="text-center">
                    </h4>
                </div>
                <div class="card-body mt-3">
                    <div class="form-group mr-2">
                        <label asp-for="InputEnableService.ServiceDetail.Name" class="mr-2"></label>
                        <select asp-for="InputEnableService.ServiceDetail.Name" asp-items="Model.ServiceSelection" class="form-control mr-2"></select>



                        <label asp-for="InputEnableService.Location.City" class="mr-2"></label>
                        <select asp-for="InputEnableService.Location.City" asp-items="Model.GeoSelection" class="form-control mr-2"></select>

                    </div>
                    <div class="form-group mr-2">
                        <label asp-for="InputEnableService.CostToCustomer"></label>
                        <input asp-for="InputEnableService.CostToCustomer" class="form-control" />
                        <span asp-validation-for="InputEnableService.CostToCustomer" class="text-danger"></span>
                    </div>
                    <div class="form-group mr-2">
                        <label asp-for="InputEnableService.CostToConsultant"></label>
                        <input asp-for="InputEnableService.CostToConsultant" class="form-control" />
                        <span asp-validation-for="InputEnableService.CostToConsultant" class="text-danger"></span>
                    </div>
                    <div class="form-group mr-2">
                        <label>Existing Link OrderId</label>
                        <input asp-for="Input.LinkOrderId" class="form-control" />
                        <span asp-validation-for="Input.LinkOrderId" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Order For Customer</button>

                </div>
            </div>
        </div>
    </div>


</form>

@section Scripts{


    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#customOrdersection").css("margin-top", $("#topnavbarbutnobeer").height() * 1.3);
        });
    </script>
}

