@page
@model PaperWorks.OrderDetailModel
@{
    ViewData["Title"] = "OrderDetail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section id="orderDetail">
    <h4 class="display-4 m-3 text-muted text-center" data-aos="fade-left" data-aos-delay="800">Order Detail</h4>
</section>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <ul id="progressbar">
                        <li class="active" id="account"><strong>Account</strong></li>
                        <li id="personal"><strong>Personal</strong></li>
                        <li id="payment"><strong>Image</strong></li>
                        <li id="confirm"><strong>Finish</strong></li>
                    </ul>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
    </div>
    <div class="row d-block">
        <ul id="progressbarss">
            <li class="active" id="accounts"><strong>Account</strong></li>
            <li id="personals"><strong>Personal</strong></li>
            <li id="payments"><strong>Image</strong></li>
            <li id="confirms"><strong>Finish</strong></li>
        </ul>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>

        </div>
    </div>
    <div id="progressBarz"></div>
    <p>To manipulate the progress bar, click on a step above, or use one of the buttons below. Events logged to the console.</p>
    <button id="startLoop">Start Loop</button> <button id="stopLoop">Stop Loop</button> <button id="resetVisited">Reset Visited</button>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#orderList").css("margin-top", $("#topnavbarbutnobeer").height() * 1.3);
                    var $progressDiv = $("#progressBarz");
                    var $progressBar = $progressDiv.progressStep();
                    $progressBar.addStep("Name");
                    $progressBar.addStep("Source");
                    $progressBar.addStep("Fields");
                    $progressBar.addStep("Filter");
                    $progressBar.addStep("Schedule");

                    for (var stepCounter = 0; stepCounter < 5; stepCounter++) {
                        var currentStep = $progressBar.getStep(stepCounter);
                        currentStep.onClick = onClick;
                        currentStep.beforeEntry = beforeEntry;
                        currentStep.afterEntry = afterEntry;
                        currentStep.beforeExit = beforeExit;
                        currentStep.afterExit = afterExit;
                    }

                    $progressBar.setCurrentStep(0);
                    $progressBar.refreshLayout();

                    function resetVisited() {
                        for (var counter = 0; counter < 5; counter++) {
                            var currentStep = $progressBar.getStep(counter);
                            currentStep.setVisited(false);
                        }
                    }

                    var counter = 1;
                    var intervalId = null;
                    function startLoop() {
                        if (intervalId) {
                            // continue
                        }
                        else {
                            intervalId = setInterval(function () {
                                if (counter == 0) {
                                    resetVisited();
                                }
                                $progressBar.setCurrentStep(counter);
                                counter++;
                                if (counter > 4) {
                                    counter = 0;
                                }
                            }, 1000);
                        }
                    }

                    function stopLoop() {
                        if (intervalId) {
                            clearInterval(intervalId);
                            intervalId = null;
                        }
                    }

                    $("#startLoop").click(startLoop);
                    $("#stopLoop").click(stopLoop);
                    $("#resetVisited").click(resetVisited);
                
        }
    </script>
    @*<script type="text/javascript">
        
    </script>*@
}


