@page
@model PaperWorks.PaymentAcceptModel
@{
    ViewData["Title"] = "PaymentAccept";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>PaymentAccepted</h1>
<h1>PaymentAccepted</h1>
<h1>PaymentAccepted</h1><h1>PaymentAccepted</h1>
                        <h1>PaymentAccepted</h1>
                        <h1>PaymentAccepted</h1>
                        <h1>PaymentAccepted</h1>
                        <h1>PaymentAccepted</h1>
                        <h1>PaymentAccepted</h1>
                        <h1>PaymentAccepted</h1>
                        <h1>PaymentAccepted</h1>
                        <h1>PaymentAccepted</h1>
                        <h1>PaymentAccepted</h1>
                        <h1>PaymentAccepted</h1>
                        <h1>PaymentAccepted</h1>
                        <h1>PaymentAccepted</h1>
                        <h1>PaymentAccepted</h1>
                        <h1>PaymentAccepted</h1>
                        <h1>PaymentAccepted</h1>
                        <h1>PaymentAccepted</h1>

                        <h1>PaymentAccepted</h1>

