
@page
@using PaperWorks.Pages.Account
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <section id="accessdenied">
        <h1 class="text-danger">Dont be a Naughty Cat . Meow </h1>
        <h6 class="text-danger">Dont be a Naughty Cat . Meow2 </h6>
        <p class="text-danger">You do not have access to this resource.</p>
    </section>



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#accessdenied").css("margin-top", $("#topnavbarbutnobeer").height() * 1.3);
        }
    </script>
}