@page
@model PaperWorks.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<section id="name">
    <div class="container text-center" id="serviceName">
        <h1 class="display-2 mt-2" data-aos="fade-right" data-aos-delay="400">
            Marriage Certificate
        </h1>
        <h4 class="display-4 m-3 text-muted " data-aos="fade-left" data-aos-delay="800">Marriage Registration Process, Service & Documents</h4>
    </div>
</section>
<div class="row  sticky " id="detailsNav">



    @*<div class="col" ></div>*@
    <div class="col-md-8 bg-dark sticky d-none d-sm-block ">
        <ul class="nav nav-fill">
            <li class="nav-item">
                <a class="nav-link active text-light" href="#overview">OVERVIEW</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#process">PROCESS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#documentsandpaper">DOCUMENTS AND PAPERS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">ALL FAQs</a>
            </li>
        </ul>
    </div>


    <div class="col-md-4 col-sm-12 bg-light text-darks bg-secondary">
        <button class="btn btn-primary btn-lg d-block w-100">Book Now For Rs.17000</button>
    </div>



</div>

<div class="row w-100 mt-3" id="overview">



    @*<div class="col" ></div>*@
    <div class="col-md-8 col-sm-12 bg-white mt-5">
        <div class="card ml-2">
            <div class="card-header ">
                <h5 class="text-muted">OVERVIEW</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title"><br></h5>
                <p class="card-text text-muted">
                    Marriage Certificate is a vital document and conclusive proof of your marriage that helps
                </p>

                <ol>
                    <li><p class="card-text text-muted">as evidence if you want to change name post marriage,</p></li>
                    <li>
                        <p class="card-text text-muted">
                            on issues of legitimacy of a child,
                        </p>
                    </li>
                    <li>
                        <p class="card-text text-muted">
                            during divorce proceedings,
                        </p>
                    </li>
                    <li>
                        <p class="card-text text-muted">
                            claim property of spouse in case you are not a nominee,
                        </p>
                    </li>
                    <li>
                        <p class="card-text text-muted">
                            to claim life insurance in the event of a mishap
                        </p>
                    </li>
                    <li>
                        <p class="card-text text-muted">
                            as part of a genealogical history, besides other purposes.
                        </p>
                    </li>
                </ol>
                <p class="card-text text-muted">
                    Just like every marriage, marriage registration is also unique. The set of documents may vary based on your and your spouse’ religion, place of marriage and place of stay. Our team of experts, having handled more than 800 cases, have been successful in getting a marriage certificate  in all the cases and are well equipped to place in order your application for marriage registration within a day.
                </p>


                The two-layer verification process minimizes the chances of rejection and second visit.
                </p>
                <a href="#" class="btn btn-primary">Book Now</a>
            </div>
        </div>
    </div>


    @*<div class="col-md-4 bg-light text-darks bg-secondary mt-5 d-none d-sm-block">
            <button class="btn btn-primary btn-lg d-block w-100">Book Now For Rs.17000</button>
        </div>*@



</div>

<div class="row w-100 mt-3" id="process">



    @*<div class="col" ></div>*@
    <div class="col-md-8 col-sm-12 bg-white mt-5">
        <div class="card ml-2">
            <div class="card-header">
                PROCESS
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">
                    <strong>Marriage Registration Procedure</strong><br>
                    Step 1: Approach the office of the Sub Divisional Magistrate, under whose locale the marriage occurred or where both the partners resided for somewhere around a half year before the marriage took place
                    <br>
                    Step 2: Appointment - In the case of the Hindu Marriage Act, the date of appointment received is usually within 15 days of the request and in the case of Special Marriage Act, it may take as long as upto 60 days
                    <br>
                    Step 3: Witness - Any individual who was present at the time of marriage of the couple can and will be the witness. Witnesses must have a legitimate PAN Card and a proof of residence
                    <br>
                    The procedure to register your marriage seems easy but the details and intricacies can be tricky as it requires one to understand the legal procedure and pay multiple visits to various government offices. If you want to register your marriage seamlessly, you can contact us. We will provide you with all the necessary help and assistance and make the process hassle free for you
                    <br><br><br>
                    <strong>Online Marriage Registration</strong>
                    <br>You can also register your marriage by applying for your marriage certificate online at your concerned state's registration website by following some very simple steps as following:

                    <br>Step 1: Select your district and feed details of you, your spouse and details of marriage

                    <br>Step 2: After submitting the registration form, you will receive acknowledgement receipt with application number and date of appointment with the concerned Sub-Divisional Magistrate

                    <br><br><strong>
                        Purpose of Marriage Certificate</strong>
                        A Marriage Certificate is a document that establishes the conjugal/married status of a couple. It is very significant and useful in giving legally married status to the couple as well as for allied purposes like acquiring a passport, opening a bank account, changing one's last name, and applying for a salary certificate, in addition to other things. A marriage certificate is basically a conclusive proof of marriage.
</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    @*<div class="col-md-4 bg-light text-darks bg-secondary mt-5 d-none d-sm-block">
            <button class="btn btn-primary btn-lg d-block">Book Now For Rs.17000</button>
        </div>*@



</div>

<div class="row w-100 mt-3" id="documentsandpaper">



    @*<div class="col" ></div>*@
    <div class="col-md-8 col-sm-12 bg-white mt-5">
        <div class="card ml-2">
            <div class="card-header">
                Documents and Papers
            </div>
            <div class="card-body">
                <h5 class="card-title">Documentation Required for Marriage Certificate</h5>
                <p class="card-text">
                    <strong>Here is the list</strong><br>
                    Step 1: Approach the office of the Sub Divisional Magistrate, under whose locale the marriage occurred or where both the partners resided for somewhere around a half year before the marriage took place
                    <br>
                    Step 2: Appointment - In the case of the Hindu Marriage Act, the date of appointment received is usually within 15 days of the request and in the case of Special Marriage Act, it may take as long as upto 60 days
                    <br>
                    Step 3: Witness - Any individual who was present at the time of marriage of the couple can and will be the witness. Witnesses must have a legitimate PAN Card and a proof of residence
                    <br>
                    The procedure to register your marriage seems easy but the details and intricacies can be tricky as it requires one to understand the legal procedure and pay multiple visits to various government offices. If you want to register your marriage seamlessly, you can contact us. We will provide you with all the necessary help and assistance and make the process hassle free for you
                    <br><br><br>
                    <strong>Online Marriage Registration</strong>
                    <br>You can also register your marriage by applying for your marriage certificate online at your concerned state's registration website by following some very simple steps as following:

                    <br>Step 1: Select your district and feed details of you, your spouse and details of marriage

                    <br>Step 2: After submitting the registration form, you will receive acknowledgement receipt with application number and date of appointment with the concerned Sub-Divisional Magistrate

                    <br><br><strong>
                        Purpose of Marriage Certificate
                    </strong>
                    A Marriage Certificate is a document that establishes the conjugal/married status of a couple. It is very significant and useful in giving legally married status to the couple as well as for allied purposes like acquiring a passport, opening a bank account, changing one's last name, and applying for a salary certificate, in addition to other things. A marriage certificate is basically a conclusive proof of marriage.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    @*<div class="col-md-4 bg-light text-darks bg-secondary mt-5 d-none d-sm-block">
            <button class="btn btn-primary btn-lg d-block">Book Now For Rs.17000</button>
        </div>*@



</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#detailsNav").css("top", $("#topnavbarbutnobeer").height() * 1.2);
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#serviceName").css("margin-top", $("#topnavbarbutnobeer").height() * 1.3);
        });
    </script>
    <script>
        $('body').scrollspy({ target: '#detailsNav' });

        // Add smooth scrolling
        $('#detailsNav a').on('click', function (e) {
            // Check for a hash value
            if (this.hash !== '') {
                // Prevent default behavior
                e.preventDefault();

                // Store hash
                const hash = this.hash;

                // Animate smooth scroll
                $('html, body').animate({
                    scrollTop: ($(hash).offset().top - $("#main-header").height() * 1.2 - $("#detailsNav").height() * 1.2)
                }, 900, function () {
                    window.location.hash = hash;
                });
            }
        });
    </script>
}



